{% extends 'privado.html' %}

{% block title %}
    clase #2
{% endblock %}

{%block main %}
<div class="section">
    <div class="card mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oexd_Dfic_Q?si=op6RpGKPFzOjdf4p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">la suma</h5>
          <p class="card-text"> texto de example</p>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Es hora!</h5>
          <p class="card-text">De muestra lo que has aprendido</p>
          <a href="/progreso" class="duabtn txt">Vamos</a>
        </div>
      </div>
</div>
{%endblock%}