{% extends 'publico.html' %}

{% block title %}
    Clase #1
{% endblock %}

{%block main %}
<div class="section">
    <div class="card mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WhXZaxeZ5sg?si=qtWRolJf8fYk5RNZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title"> los numeros</h5>
          <p class="card-text"> text example</p>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Es hora!</h5>
          <p class="card-text">De muestra lo que has aprendido</p>
          <a href="/mapa" class="duabtn txt">Vamos</a>
        </div>
      </div>
    </div>
{%endblock%}