{% extends 'publico.html' %}

{% block title %}
    Mision Y vision
{% endblock %}

{%block main %}
<div class="section">
    <div class="card mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DaYOJ-JUdds?si=7HUWz9sPQnKZm1_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Es hora!</h5>
          <p class="card-text">De muestra lo que has aprendido</p>
          <a href="/mapa" class="duabtn txt">Vamos</a>
        </div>
      </div>
</div>

{%endblock%}