{% extends "privado.html" %}

{% block title %}
    Register
{% endblock %}


{% block main %}
<form action="/inicio" method="post">
    <div class="main">
            <h1>Bienvenido {{username}}</h1>
      </div>

    <div class="d-flex justify-content-evenly flex-column flex-md-row justify-content-center">
        <div class="slider_public">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <a href="https://youtu.be/jaRrj5T2jSk?si=_0FPsxemnKfC-Q8j" target="_blank">
                          <img src="static\vision.png" class="d-block w-100 img-fluid" alt="imagen 1">
                      </a>
                  </div>
                  <div class="carousel-item">
                      <a href="https://youtu.be/TE4b2VpmIfI?si=kpcRn-AVb83Eu4Ht" target="_blank">
                          <img src="static\mision.png" class="d-block w-100 img-fluid" alt="imagen 2">
                      </a>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
         
      </div>

        <div class="d-flex flex-column justify-content-center">
          <div class="card" style="width: 18rem;">
            <img src="https://cdn5.dibujos.net/dibujos/pintados/202047/gato-dentro-de-una-mochila-animales-gatos-12086771.jpg" class="card-img-top" alt="no imagen (aventura)">
            <div class="card-body">

            <p class="card-text">Ven y descubre un mundo lleno de numeros, los cuales te estallaran la cabeza.</p>
            <a href="/clase" class="duabtn txt">A clases</a>
            </div>
        </div>

          <div class="card" style="width: 18rem;">
              <img src="https://media.istockphoto.com/id/533029935/es/foto/broma.jpg?s=612x612&w=0&k=20&c=P1MJnhMQ8myQMQKygQM_7JlRYww-jKyE69optMbbHDg=" class="card-img-top" alt="no imagen (ver mapa)">
              <div class="card-body">

              <p class="card-text">Continua con la aventura y avanza para ser el mejor.</p>
              <a href="/progreso" class="duabtn txt">completa los niveles</a>
              </div>
          </div>
        
    </div>
</div>
<div class="mivi">

    <div class="mision">
    <h1>mision</h1>
    <p>Nuestra mision es transformar la educacion matematica para niños, convirtiendola en una experiencia emocionante y relevante.
        Buscamos inspirar la curiosidad, el pensamiento critico y la resolucion de problemas desde la infancia, creando una base solida
        para el exito academico y personal
        </p>
</div>
    <div class="vision">
    <h1>vision</h1>
    <p>Aspiramos a ser agentes de cambio para la educacion matematica infantil, contribuyendo a la formacion de mentes creativas y
        analiticas. Visualizamos un futuro donde los niños no solo dominen las destrezas matematicas fundamentales, sino que tambien
        desarrollen una mentalidad resiliente frente a desafios. aprendiendo a ver las matematicas como una herramienta poderosa para
        comprender el mundo que les rodea</p>
        </div>
  </div>

</form>
{% endblock %}

