<!DOCTYPE html>

<html lang="es">

    <head>

        <link href="/static/styles.css" rel="stylesheet">

        <title>DuaMath: {% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    </head>

    <body>

        <nav>
            <input type="checkbox"id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-sort-up" ></i>
            </label>
            <label class="logo">DuoMath</label>
            <ul>
            <li><a class="active" href="#">menu</a></li>
           <li><a class="" href="/login">login</a></li>
           <li> <a class="" href="/register">register</a></li>
            </ul>
        </nav>


        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="https://i.blogs.es/cd35ae/rickroll/1366_2000.jpg" style="width:100%">
              <a href="">sfsf</a>
              <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>

              <img href="#" src="https://i.blogs.es/cd35ae/rickroll/1366_2000.jpg" style="width:100%">
              <a href="">fsf</a>
              <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>

              <img src="https://i.blogs.es/cd35ae/rickroll/1366_2000.jpg" style="width:100%">
              <a href="">hooa</a>
              <div class="text">Caption Three</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            </div>
            <br>

            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>

        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              let dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
            }
            </script>

            <main class="container-fluid py-5 text-center">
              {% block main %}{% endblock %}
          </main>

        <footer>
            Create By <a href="/contact">Enyelpapuh</a>
            <ul>

              <div>
              <li><a href="#">about</a></li>
              <li><a href="#">contact</a></li>
              </div>
            </footer>

    </body>

</html>
