{% extends 'privado.html' %}

{% block title %}
    Mision Y vision
{% endblock %}

{%block main %}
<div class="section">
    <div class="card mb-3">
        <iframe width="460" height="279" src="https://www.youtube.com/embed/TE4b2VpmIfI?si=JU8q0EKtQ6td-QLl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card mb-3">
        <iframe width="460" height="279" src="https://www.youtube.com/embed/jaRrj5T2jSk?si=HeQnzZv_uQCOuPYW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">Vision</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

</div>
{%endblock%}