<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="static\styles.css" rel="stylesheet">
    <title>Mundo 2!</title>

</head>

<body>
    <script>

        function aviso() {
            var ventanaEmergente1 = document.getElementById('ventan_aviso');
            ventanaEmergente1.style.display = 'block';
        }

        function cerrar_aviso(){
            var ventanac = document.getElementById('ventan_aviso');
            ventanac.style.display = 'none';
        }
</script>

<div id="ventan_aviso" class="ventana" style="display: none;">
    <div class="txtemergente">
        <h2>aviso</h2>
        <p>¿Estás seguro de regresar? Si no has completado el nivel, no se guardará el progreso.</p>
        <a class="duabtn txt" onclick="cerrar_aviso()">Negar</a>
        <a class="duabtn txt" href="/mapa">Aceptar</a>
    </div>
</div>
    <div class="header">
        <h1>Ejemplos para el mundo 3!</h1>
    </div>
    <button class="duabtn txt" onclick="aviso()" id="regresar">Regresar</button>
    <div class="container">
        <div class="section">
            <h2>Resta</h2>
            <img class="Mundo2" src="static\Mundo2.png" alt="XD">

        </div>

    </div>
    <div class="footer">
        <!-- Botones de control -->
  <a id="finish" class="duabtn txt" style="display: block;" href="/mapa">Finish</a>

</div>
</body>

</html>
