<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="static\styles.css" rel="stylesheet">
    <title>Mundo 2!</title>

</head>

<body>
    <div class="header">
        <h1>Ejemplos para el mundo 2!</h1>
    </div>

    <div class="container">
        <div class="section">
            <h2>Resta Correctamente </h2>
            <hr>
            <!-- TODO: Add multiple choice question here -->
            <h3>Resta</h3>
            <img class="Mundo2" src="static\Mundo2.png" alt="XD">

        </div>

    </div>
    <div class="footer">
        <!-- Botones de control -->
  <a id="finish" class="duabtn txt" style="display: block;" href="/progreso">Finish</a>

</div>
</body>

</html>
